# Archivos de Python
__pycache__/
*.py[cod]

# Archivos y carpetas de Rasa
.rasa/
bot/models/  # <-- Ruta corregida

# Carpetas de entorno y dependencias
.keras/
.config/
venv/
.env/
.env
poetry.lock

# Logs y temporales
*.log
*.tmp