# Archivos de Python
__pycache__/
*.py[cod]

# Archivos y carpetas de Rasa
.rasa/
bot/models/  # <-- Ruta corregida

# Carpetas de entorno y dependencias
.keras/
.config/
venv/
.env/
.env
poetry.lock
*.log
*.tmp
.git
.vscode
.idea
pycache
*.pyc
.env
.env.*
!*.env.example
.venv
*.md